/ {

	aliases {
		led0 = &board_led;
	};
	chosen {
      zephyr,console = &cdc_acm_uart0;
    };
  
	leds {
		compatible = "gpio-leds";
		board_led: led-1 {
			gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
			label = "User LED Pin 13";
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&lpuart6 {
  status = "disabled";
};

&lpuart4 {
  status = "okay";
  current-speed = < 115200 >;
};